#This file will add Conky as an application on the Start Menu in your desktop environment and add it to autostart on boot
[Desktop Entry]
Name=conky
Type=Application
Exec=sh /usr/bin/conky.sh
Terminal=false
Comment=system monitoring tool.
Categories=Utility;
